*{
    margin: 0%;
    padding: 0%;
}
.m-body{
    background-color: rgb(59, 59, 165);
    height: 700px;
    z-index: 1;
}
.k{
    margin-left: 400px;
    margin-top:-100x;
}
.heading{
    text-shadow:  10px 10px 2px rgb(13, 90, 138), 0 0 1em ;
}
.heading,.headline
{   text-align: center;
    color: wheat;
    font-size: larger;
    font-weight: bolder;
  
}
.headline{
    margin-left: 4px;
    text-shadow: rgb(255, 3, 3) 5px 0 10px;
}
.container
{
    position: relative;
}
.wrapper
{ 
  height: 350px;
    width: 700px;
    
    box-shadow: 10px 10px 50px 10px black;
    position: absolute;
    left: 30%;
    top: 100px;
    border-radius: 15px;
    overflow: hidden;
    
}
.cointainer ,.wholder
{  
    display: grid;
     grid-template-columns: repeat(8,100%); 
    height: 100%;
    width: 100%;
    animation:slider 40s ease-in-out 10s alternate;
    
}
.cointainer #s-i1
{   
    background-image: url("Q.png");
    background-size: cover;
    border-radius: 10px;
   
}
.cointainer #s-i2
{   
    background-image: url("i1.jpg");
    background-size: cover;
    border-radius: 10px;
}
.cointainer #s-i3
{   
    background-image: url("i2.webp");
    background-size: cover;
    border-radius: 10px;
   
}

.cointainer #s-i4
{ 
    background-image: url("i3.webp");
    background-size: cover;
    border-radius: 10px;
    
} 
.cointainer #s-i5
{ 
    background-image: url("i5.jpg");
    background-size: cover;
    border-radius: 10px;
    
} 
  .cointainer #s-i6
{ 
    background-image: url("i6.jpg");
    background-size: cover;
    border-radius: 10px;
    
} 
.cointainer #s-i7
{ 
    background-image: url("qoute\ 1.jpg");
    background-size: cover;
    border-radius: 10px;
    
} 
.cointainer #s-i8
{ 
    background-image: url("qoute\ 3.jpg");
    background-size: cover;
    border-radius: 10px;
    
} 
   .b{
    background-color: rgb(255, 0, 0);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    display:inline-block;
    margin: .3rem;
    left: 100px;
 }
  .cointainer .b
 {  
    position: absolute;
    left: 55%;
    top: 50%;
 }  
 .b-holder
 {
    display: absolute;
    padding-left: 44rem;
    padding-top: 25rem;
 }
  .b :hover
 {
    box-shadow: 10px 10px 7px 4px rgb(33, 255, 37);
 } 
    @keyframes slider
  {
    0%{transform: translateX(100%);}
      10%{transform: translateX(100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-300%);}
     50%{transform: translateX(-400%);} 
     60%{transform: translateX(-500%);}
    70%{transform: translateX(-600%);}
    80%{transform: translateX(-700%);}
    90%{transform: translateX(-800%);}  
   100%{transform:translateX(-900%);}

 } 
  .main-content
 {  margin-top: 100px;
    height: 1100px;
    background-image: url("image\ \(3\).jpg");
    background-size: cover;
    background-position: center;
 } 
.tagline
{   text-align: center;
     color: rgb(223, 237, 237);
    padding: 50px;
    padding-top: 0px;
    font-size: 90px;
    background-color: transparent;  
}
.para
{   padding-left: 40px;
    padding-top: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    line-height: 30px;
    position: relative;
    top: -70px;
}
h1{
    position: relative;
    top: 27px;
    left: -24px;
}
.para2
{
    position: relative;
    top:20px;
    color: rgb(2, 175, 68);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sp1
{   display: flex;
    position:relative;
    top: 20px;
    line-height: 28px;

}
h3{
    display: flex;
    color: rgb(255, 124, 2);
    font-weight: bolder;
    display: flex;
}
p{
    font-size: 17px;
}
.shadow
{
    text-shadow: rgb(255, 0, 0) 10px 10 10px;
}
footer
{   display: flex;
    background-color:rgb(41, 70, 70);
    height: 50px;
    width: 100%vw;
 justify-content: center;
    
}
.foot
{   font-family:'Times New Roman', Times, serif;
    margin-left: 50px;
}
.dev-name
{
    position: relative;
    right: -250px;
    font-weight: bold;
    color: cadetblue;
}